%section.bck.darkest.text.color.white
  .row.bkg-japan
    .column_6
      %h3 <br> Add elevation information to GeoJSON.
      %p Drop a GeoJSON file anywhere this page. You'll get your original GeoJSON data with elevation* added to all point, path and polygon coordinates. 
      %p 
      %p This service is in beta testing phase**. We apologize for any inconvenience.
      %ul.disclaimers
        %li
          %small * Currently only Japan is supported.<br>
        %li
          %small ** The added elevation may contain gaps (extremally large values). <br>We will filter for those gaps in the future, but for now, please be wary.
      <br><br>
    .column_6
      %form#dropForm{ :method=>'post'}
        %input{ :type=>"hidden", :name=>"filename", :value=>"geo.json" }
        %textarea#geojson{ :name=>'geojson', :placeholder=>"Paste or drop GeoJSON data here." }
          :plain
            { "type": "FeatureCollection", "features": [] }
        %br
        %input.alert.on-right.button.large{ :type=>'submit', :value=>'Add elevation' }
        %br.clear
        %br.clear
%section.bck.theme.padding
  .row
    .column_6
      %h2 Sign up for updates on Hikr
    .column_6.form.subscribe
      #mc_embed_signup
        %form{ :action=>"http://hikr.us7.list-manage.com/subscribe/post?u=ed00142426b464246887fc6d2&amp;id=cf8be08c43", :method=>"post", :id=>"mc-embedded-subscribe-form", :name=>"mc-embedded-subscribe-form", :class=>"validate", :target=>"_blank", :novalidate=>true }
          %fieldset
            %input.large.email{ :placeholder=>"Your e-mail address", :type=>"email", :value=>"", :name=>"EMAIL", :class=>"required email", :id=>"mce-EMAIL"}
            %button.button.large.alert.icon.envelope{ :type=>"submit", :value=>"", :name=>"subscribe" }
%section.bck.lighter.padding
  .row
    .column_4
      %h4.margin-bottom Why?
      %p I store my hiking courses in GeoJSON files and no elevation service I could find allowed me to easily add elevation information.
    .column_4
      %h4.margin-bottom What is Hikr?
      %p Hikr is an upcoming service for people who like to turn off their computers and go hiking sometimes.
      %br
    .column_4
      %h4.margin-bottom What is GeoJSON<br> and where can I get some?
      %p <a href="http://www.geojson.org/" target="_blank">GeoJSON</a> is one of several formats of storing geographical information. Think of it as computer instructions on how to draw a map with points of interest, paths and areas.
      %p You can make your own GeoJSON files using the wonderful <a href="http://geojson.io" target="_blank">geojson.io</a> service from <a href="http://mapbox.com" target="_blank">MapBox</a>.
%script{ :type=>"text/javascript", :src=>"/js/behave.js" }
:javascript
  var editor = new Behave({
    textarea: document.getElementById('geojson')
  });
  function handleFileSelect(evt) {
    evt.stopPropagation();
    evt.preventDefault();

    var files = evt.dataTransfer.files; // FileList object.
    console.log(files);
    if(files[0].type!="application/json" && !files[0].name.match(/.*\.geojson/)){
      alert("Please drop json files only"+files[0].type);
      return false;
    }
    if(files[0].size>1024*1024){
      alert("File size limit is 1MB.")
      return false;
    }
    var reader = new FileReader();
    reader.onload = function(event) {
      document.getElementById('geojson').value = event.target.result;
      document.getElementsByName('filename')[0].value = files[0].name;
    }
    reader.readAsText(files[0],"UTF-8");    
  }

  function handleDragOver(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
  }

  // Setup the dnd listeners.
  var dropZone = document.getElementsByTagName('body')[0];
  dropZone.addEventListener('dragover', handleDragOver, false);
  dropZone.addEventListener('drop', handleFileSelect, false);